@import './../../../../theme/theme';

#indicator{
  height: 6%;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 4;
  padding: 0 10px 0 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $secondary-dark;
 
}

// :after to not affect the opacity of the child element
#indicator:after{
  opacity: 0.8;
}

.dot{
  width: 4vh;
  height: 4vh;
  margin: 0 auto;

  border-radius: 50%;
  background-color: $primary;
}