@import './../../../../theme/theme';

.slider {
  display: flex;
  align-items: center;
  margin-top: 0;
  position: relative;
  height: 100%;
  width: 100%;
}

.sliderButton {
  z-index: 3;
  background-color: $secondary;
  position: absolute;
  cursor: pointer;
}

.sliderButton.moveLeft {
  animation: moveLeft ease 0.5s;
  -webkit-animation: moveLeft ease 0.5s;
  -moz-animation: moveLeft ease 0.5s;
}

.sliderButton:hover {
  background-color: $secondary-light;
}

.sliderButton.disabled {
  background-color: $secondary-light;
}

.imgContainer {
  width: 100%;
  height: 90vh;
  
}

.sliderImg { 
  height: 100%;
  width: 100%;
  position: absolute;
  animation-name: sliderImg;
  object-fit: cover;
}

.sliderImg.fadeIn {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
}

.sliderImg.fadeOut {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
}

.Icon {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 3.4em;
}

.left {
  padding-left: 0.5%;
  padding-right: 1%;
}

.right {
  padding-left: 1%;
  padding-right: 0.5%;
  right: 0px;
}