@import '../../../../theme/theme.scss';

.sliderButton {
  z-index: 3;
  background-color: $secondary;
  position: absolute;
  cursor: pointer;
}

.sliderButton:hover {
  background-color: $secondary-light;
}

.sliderButton.disabled {
  background-color: $secondary-light;
}

.Icon {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 3.4em;
}

.left {
  padding-left: 0.5%;
  padding-right: 1%;
}

.right {
  padding-left: 1%;
  padding-right: 0.5%;
  right: 0px;
}