@import url(https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono);
@import url(https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono);
Link {
  width: 50px; }

#logo {
  margin-left: 15px; }

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

#NavBar {
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90px;
  font-family: "Share Tech Mono", monospace;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background: #FFFFFF; }

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.NavButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #2a3747;
  height: 100%;
  min-width: 120px;
  cursor: pointer; }
  .NavButton .Label {
    font-size: 25px;
    text-transform: capitalize; }

.active {
  color: #546172; }

.NavButton:hover {
  background-color: #A1A1A1; }

#Header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh; }

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.footer {
  height: 45px; }

.footerText {
  width: 300px;
  line-height: 45px;
  color: #2a3747;
  margin: 0 auto;
  font-family: "Merriweather Sans", sans-serif; }

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.Layout {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%; }
  .Layout .Content {
    flex: 1;
    background: #2a3747;
    color: #fff;
    font-family: "Merriweather Sans", sans-serif; }
    .Layout .Content a {
      color: inherit; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html,
body,
#__next {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

#root {
  display: flex;
  flex-direction: column; }

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.slider {
  display: flex;
  align-items: center;
  margin-top: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #ffffff; }

.sliderButton {
  background-color: #2a3747;
  position: absolute;
  cursor: pointer; }

.sliderButton:hover {
  background-color: #546172; }

.sliderImg {
  width: 100%;
  height: 90vh;
  object-fit: cover; }

.Icon {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 3.4em; }

.left {
  padding-left: 0.5%;
  padding-right: 1%; }

.right {
  padding-left: 1%;
  padding-right: 0.5%;
  right: 0px; }

.center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }

.slider {
  display: flex;
  align-items: center;
  margin-top: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #ffffff; }

.sliderButton {
  background-color: #2a3747;
  position: absolute;
  cursor: pointer; }

.sliderButton:hover {
  background-color: #546172; }

.sliderImg {
  width: 100%;
  height: 90vh;
  object-fit: cover; }

.Icon {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 3.4em; }

.left {
  padding-left: 0.5%;
  padding-right: 1%; }

.right {
  padding-left: 1%;
  padding-right: 0.5%;
  right: 0px; }

