@keyframes fadeOut {
  0%    { opacity:1; }
  100%  { opacity:0; }
}

@keyframes fadeIn {
  0%    { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes fadeInDot {
  0%    { 
    background-color: $secondary-dark;
  }
  100%  { 
    background-color: $secondary-light;
  }
}

@keyframes fadeInAndOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes moveLeft {
  0%    { margin-left: 0; }
  100%  { margin-left: -50px; }
}

@keyframes disableScrollArrow {
  0%    { color: $secondary-light}
  50%   { color: $secondary-dark}
  100%  { color: $secondary-light}
}