h1 {
  font-size: 3em;
  color: $secondary;
  width: max-content;
  margin: 10px auto 35px auto;
  padding: 15px;
  border-bottom: $secondary-light solid 2px;
}

p {
  font-size: 1.3em;
  color: $secondary
}